<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th></th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |policy| %>
      <% policy.actions.each do |act, comment| %>
        <tr>
          <td><%= policy.resource_name %></td>
          <td><%= policy.comment %></td>
          <td><%= act %></td>
          <td><%= comment %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

